.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 10; */
}
.write {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.writeText {
  font-size: 30px;
  padding: 20px 300px;
}
.selectMenu {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-bottom: 1px solid #000000;
  width: 500px;
  padding: 20px 100px;
}
.contentInfo {
  display: flex;
  /* flex: 0.5; */
  width: 200px;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid #000000;
  width: 500px;
  height: 300px;
  /* padding: 20px 220px; */
  margin-top: 30px;
  border-radius: 10px;
}
.userId {
  display: flex;
  flex: 0.2;
  border-right: 1px solid #000000;
  padding: 5px 10px;
}
.diaryInfo {
  display: flex;
  flex: 1;
}
.personalInfo {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #000000;
  width: 100%;
  justify-content: center;
}
.diaryInfo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
